body
  background: #fff
  font-family: $charter-italic, sans-serif
  font-size: 16px
  color: $brown
  line-height: 1.4

.frame-block
    position: absolute
    left: 18px
    right: 18px
    top: 18px
    bottom: 18px
    border: 1px solid $gold
    z-index: 1
  
.logo
    +image('logo.svg')
    +cover
    
.top-slider
    overflow: hidden
    
.top-slider__slide
    height: 100vh
    text-align: center
    overflow: hidden
    +cover
    
.top-slider__title
    font-size: em(48)
    color: #fff
    position: absolute
    bottom: get-vh(195px)
    left: 50%
    transform: translate(-50%)
    +md
        font-size: em(40)
    +sm
        font-size: em(32)
    +xs
        font-size: em(24)
    
.btn
    display: block
    background-color: transparent
    border: 1px solid $gold
    padding: 10px 20px
    font-family: $ptsans-narrow-bold, sans-serif
    color: $gold
    text-transform: uppercase
    &:hover
        transition: 0.4s
        background-color: $gold
        color: #fff
.underlined
    border-bottom: 1px solid $gray
    padding-bottom: 1px
    text-decoration: none
    display: inline-block
    &:hover
        transition: 0.4s
        border-bottom-color: rgba(225,225,0,0)
    +r(400)
        border: none

@each $png-icon in $png-icons
    .icon__#{$png-icon}
        display: inline-block
        +s($png-icon)
