---
title: Золотая балка
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<!--BEGIN - HEADER-->
	{% include "partials/_header.html" %}
<!--END - HEADER-->

<!--BEGIN - HEADER-->
	{% include "partials/_navigation.html" %}
<!--END - HEADER-->

<!--BEGIN - HISTORY SECTION-->
	{% include "partials/_history.html" %}
<!--END - HISTORY SECTION-->

<!--BEGIN - AWARDS SECTION-->
	{% include "partials/_awards.html" %}
<!--END - AWARDS SECTION-->

<!--BEGIN - TECHNOLOGY SECTION-->
	{% include "partials/_technology.html" %}
<!--END - TECHNOLOGY SECTION-->

<!--BEGIN - CENTURIES SECTION-->
	{% include "partials/_centuries.html" %}
<!--END - CENTURIES SECTION-->

<!--BEGIN - COMMENTS SECTION-->
	{% include "partials/_comments.html" %}
<!--END - COMMENTS SECTION-->

<!--BEGIN - PRODUCTS SECTION-->
	{% include "partials/_products.html" %}
<!--END - PRODUCTS SECTION-->

<!--BEGIN - PRODUCTS SECTION-->
	{% include "partials/_map.html" %}
<!--END - PRODUCTS SECTION-->

<!--BEGIN - FOOTER-->
	{% include "partials/_footer.html" %}
<!--END - FOOTER-->
	

{% endblock %}
