{% import "data/awards_slider.html" as slides %}
<section class="awards">
   <!--BEGIN - Awards slider-->
    <div class="awards__slider"> 
       {% for slide in slides.awards_slider %}
       <!--BEGIN - Awards slide-->
        <div class="awards__slide"> 
            <a href="#" class="awards__text">{{slide.text}}</a> 
        </div> 
        <!--END - Awards slide-->
        {% endfor %} 
    </div>
    <!--END - Awards slider-->
    <!--BEGIN - Awards paginator-->
    <div class="awards__paginator">
        <div class="awards__prev"></div>
        <div class="awards__next"></div>
    </div>
    <!--END - Awards paginator-->
</section>