 <section class="centuries">
   <div class="centuries__container">
    <!--BEGIN - Bottle image-->
    <div class="centuries__bottle"></div>
    <!--END - Bottle image-->
    <!--BEGIN - Centuries banner-->
    <div class="centuries__banner">
        <div class="centuries__banner-inner">
           <!--BEGIN - Banner content-->
            <div class="centuries__content">
               <!--BEGIN - Number-->
                <div class="centuries__figure">30</div>
                <!--END - Number-->
                <!--BEGIN - Text-->
                <div class="centuries__text">
                    <div class="centuries__text-large">Веков истории</div>
                    <div class="centuries__text-small">Только для истинных ценителей</div>
                </div>
                <!--END - Text-->
            </div>
            <!--END - Banner content-->
        </div>
    </div>
    <!--END - Centuries banner-->
    </div>
</section>