{% import "data/comments.html" as comments %}
<section class="comments">
  <!--BEGIN - Comments slider-->
   <div class="comments__slider">
        {% for comment in comments.comments_slider %}
        <!--BEGIN - Comments slide-->
        <div class="comments__slide">
           <div class="comments__slide_inner">
            <div class="comments__text">{{comment.text}}</div>
                <div class="comments__meta">
                    <div class="comments__author">
                        <div class="comments__name">{{comment.name}}</div>
                        <div class="comments__position">{{comment.position}}</div>
                    </div>
                    <div class="comments__signature comments__{{comment.signature}}"></div>
                </div>
            </div>
        </div>
        <!--END - Comments slide-->
        {% endfor %}
    </div>
    <!--END - Comments slider-->
</section>
