
{% import "data/comments.html" as comments %}
   <section class="comments">
   <div class="comments__slider" id="comments-slider">
        <div class="comments__content">
           {% for comment in comments.comments_slider %}
          <div class="comments__content-inner flick">
            <div class="comments__text">{{comment.text}}</div>
                <div class="comments__meta">
                    <div class="comments__author">
                        <div class="comments__author-name">{{comment.name}}</div>
                        <div class="comments__author-position">{{comment.position}}</div>
                    </div>
                <div class="signature comments__signature"></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="dots">
            {% for comment in comments.comments_slider %}
            <div class="dot" data-sign="{{comment.signature}}"></div>
            {% endfor %}
        </div>
        
    </div>
</section>
