<footer class="footer">
    <!--BEGIN Footer ROW-->
    <div class="footer__row_top">
        <!--BEGIN Container-->
        <div class="footer__container">
            <!--BEGIN Logo-->
            <a href="#" class="footer__logo"> 
                <img src="img/footer-logo.png" alt="Золотая балка" class="footer__logo-img"> 
            </a>
            <!--END Logo-->
            <!--BEGIN Content-->
            <div class="footer__content">
               <!--BEGIN Footer COLUMN-->
                <div class="footer__col">
                    <div class="footer__col_inner">
                        <!-- BEGIN  Address-->
                        <div class="footer__address">299043, г. Севастополь,<br />ул. Новикова, 56</div>
                        <!-- END  Address-->
                    </div>
                    <div class="footer__col_inner">
                        <!-- BEGIN  Menu-->
                        <ul class="footer__menu">
                            <li class="footer__menu-item"><a href="#" class="footer__menu-link">О компании</a></li>
                            <li class="footer__menu-item"><a href="#" class="footer__menu-link">Мероприятия</a></li>
                            <li class="footer__menu-item"><a href="#" class="footer__menu-link">Каталог вин</a></li>
                            <li class="footer__menu-item"><a href="#" class="footer__menu-link">Контакты</a></li>
                        </ul>
                        <!-- END  Menu-->
                    </div>
                </div>
                <!--END Footer COLUMN-->
                <!--BEGIN Footer COLUMN-->
                <div class="footer__col">
                    <div class="footer__col_inner">
                        <!-- BEGIN  Contact-->
                        <div class="footer__contact">
                            <div class="footer__department">Коммерческий отдел:</div>
                            <div class="footer__info">
                                <p class="footer__phone">тел.: +8 (8692) 63-50-81</p>
                                <p class="footer__phone">тел.: +8 (495) 255-44-70</p>
                            </div>
                        </div>
                        <!-- END  Contact-->
                        <!-- BEGIN  Social-->
                        <div class="footer__social">
                            <a href="!#" class="footer__icon">{{mixins.icon('facebook')}}</a>
                            <a href="!#" class="footer__icon">{{mixins.icon('twitter')}}</a>
                            <a href="!#" class="footer__icon">{{mixins.icon('instagram')}}</a>
                            <a href="!#" class="footer__icon">{{mixins.icon('pinterest')}}</a>
                        </div>
                        <!-- END  Social-->
                    </div>
                    <div class="footer__col_inner">
                        <!-- BEGIN  Contact-->
                        <div class="footer__contact">
                            <div class="footer__department">Приемная:</div>
                            <div class="footer__info">
                                <p class="footer__phone">тел.: +8 (8692) 63-51-19</p>
                                <p class="footer__phone">факс: +8 (8692) 45-52-72</p>
                            </div>
                        </div>
                        <!-- END  Contact-->
                        <!-- BEGIN  Contact-->
                        <div class="footer__contact">
                            <div class="footer__department">Отдел маркетинга:</div>
                            <div class="footer__info">
                                <a href="#" class="footer__mail underlined">marketing@zbkrim.ru</a>
                            </div>
                        </div>
                        <!-- END  Contact-->
                    </div>
                </div>
                <!--END Footer COLUMN-->
            </div>
            <!--END Content-->
        </div>
        <!--END Container-->
    </div>
    <!--END Footer ROW-->
    <!--BEGIN Footer ROW-->
    <div class="footer__row_btm">
        <!--BEGIN Container-->
        <div class="footer__container">
            <!--BEGIN ROW-->
            <div class="footer__row">
                <div class="footer__col-left">
                    <p class="footer__coryright footer__copyright_wide">Все права защищены ©2016 Золотая Балка</p> 
                    <p class="footer__coryright"><a href="#" class="underlined">Условия использования и политика конфиденциальности</a></p> 
                </div>
                <div class="footer__col-right">
                    <p class="footer__coryright">Разработанно в <a href="#" class="underlined">tomatdesign</a> </p>
                </div>
            </div>
        </div>
        <!--END Container-->
    </div>
    <!--END Footer ROW-->
</footer>
