<footer class="footer">
    <!--BEGIN Footer ROW-->
    <div class="footer__row-top">
        <!--BEGIN Container-->
        <div class="container">
            <!--BEGIN ROW-->
            <div class="row">
                <!--BEGIN Logo-->
                <a href="#" class="logo"> <img src="img/footer-logo.png" alt="Золотая балка" class="logo__img"> </a>
                <!--END Logo-->
            </div>
            <!--END ROW-->
            <!--BEGIN ROW-->
            <div class="row">
                <div class="content">
                    <div class="col">
                        <div class="col__container">
                            <div class="col-inner">
                                <!-- BEGIN  Address-->
                                <div class="address">299043, г. Севастополь,<br />ул. Новикова, 56</div>
                                <!-- END  Address-->
                            </div>
                            <div class="col-inner">
                               <!-- BEGIN  Menu-->
                                <ul class="footer__menu">
                                    <li class="footer__menu-item"><a href="#" class="footer__menu-item__link">О компании</a></li>
                                    <li class="footer__menu-item"><a href="#" class="footer__menu-item__link">Мероприятия</a></li>
                                    <li class="footer__menu-item"><a href="#" class="footer__menu-item__link">Каталог вин</a></li>
                                    <li class="footer__menu-item"><a href="#" class="footer__menu-item__link">Контакты</a></li>
                                </ul>
                                <!-- END  Menu-->
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col__container">
                            <div class="col-inner">
                                <!-- BEGIN  Contact-->
                                <div class="contact">
                                    <div class="contact__department">Коммерческий отдел:</div>
                                    <div class="contact__info">
                                        <p class="contact__info-phone">тел.: +8 (8692) 63-50-81</p>
                                        <p class="contact__info-phone">тел.: +8 (495) 255-44-70</p>
                                    </div>
                                </div>
                                <!-- END  Contact-->
                                <!-- BEGIN  Social-->
                                <div class="social">
                                    <a href="!#" class="icon-svg">{{mixins.icon('facebook')}}</a>
                                    <a href="!#" class="icon-svg">{{mixins.icon('twitter')}}</a>
                                    <a href="!#" class="icon-svg">{{mixins.icon('instagram')}}</a>
                                    <a href="!#" class="icon-svg">{{mixins.icon('pinterest')}}</a>
                                </div>
                                <!-- END  Social-->
                            </div>
                            <div class="col-inner">
                                <!-- BEGIN  Contact-->
                                <div class="contact">
                                    <div class="contact__department">Приемная:</div>
                                    <div class="contact__info">
                                        <p class="contact__info-phone">тел.: +8 (8692) 63-51-19</p>
                                        <p class="contact__info-phone">факс: +8 (8692) 45-52-72</p>
                                    </div>
                                </div>
                                <!-- END  Contact-->
                                <!-- BEGIN  Contact-->
                                <div class="contact">
                                    <div class="contact__department">Отдел маркетинга:</div>
                                    <div class="contact__info">
                                        <a href="#" class="contact__info-mail underlined">marketing@zbkrim.ru</a>
                                    </div>
                                </div>
                                <!-- END  Contact-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END ROW-->
        </div>
        <!--END Container-->
    </div>
    <!--END Footer ROW-->
    <!--BEGIN Footer ROW-->
    <div class="footer__row-btm">
        <!--BEGIN Container-->
        <div class="container">
            <!--BEGIN ROW-->
            <div class="row">
                <div class="col col-left">
                    <p class="col__text col-left__text">Все права защищены ©2016 Золотая Балка</p> 
                    <p class="col__text col-left__text"><a href="#" class="underlined">Условия использования и политика конфиденциальности</a></p> 
                </div>
                <div class="col col-right">
                    <p class="col__text col-right__text">Разработанно в <a href="#" class="underlined">tomatdesign</a> </p>
                </div>
            </div>
        </div>
        <!--END Container-->
    </div>
    <!--END Footer ROW-->
</footer>
