<header class="header">
    <div class="frame-block">
        <!--BEGIN - Logo-->
        <div class="logo header__logo"></div>
        <!--END - Logo-->
        <!--BEGIN - Scroll block-->
        <div class="header__scroll">
            <div class="header__scroll_inner">
                <div class="header__scroll_text">Прокрутите</div>
                <div class="header__scroll_icon"> 
                    <span class="icon__mouse"></span> 
                </div>
                <div class="header__scroll_text">скролл вниз!</div>
            </div>
        </div>
        <!--END - Scroll block-->
    </div>
    <!--BEGIN - TOP SLIDER-->
    <div class="top-slider">
        <div class="top-slider__slide top-slider__slide_first">
            <h1 class="top-slider__title">Благородное происхождение</h1> 
        </div>
        <div class="top-slider__slide top-slider__slide_second">
            <h1 class="top-slider__title">Богатые традиции</h1> 
        </div>
        <div class="top-slider__slide top-slider__slide_third">
            <h1 class="top-slider__title">Изысканный букет</h1> 
        </div>
    </div>
    <!--END - TOP SLIDER-->
</header>