<section class="history">
        <div class="history__wrapper">
            <!--BEGIN - Section content-->
            <div class="history__content">
                <!--BEGIN - Banner-->
                <div class="banner">
                   <!--BEGIN - Banner text-->
                    <div class="banner__text">
                       <div class="banner__year">
                            <div class="banner__text-small banner__text-small-top"><span>Наша история
                                <br />берет свое начало</span></div>
                            <div class="year">1889</div>
                            <div class="banner__text-small banner__text-small-bottom"><span>года</span></div>
                        </div>
                        <div class="banner__text-small">когда был заложен первый винный подвал.</div>
                        <p class="banner__info">X-VII век до нашей эры - Тавры - первый исторический народ Крыма, начали заниматься на территории Балаклавы виноградарством.</p>
                    </div>
                    <!--END - Banner text-->
                </div>
                <!--END - Banner-->
            </div>
            <!--END - Section content-->
        </div>
</section>