<section class="history">
        <div class="history__container">
                <!--BEGIN - Banner-->
                <div class="history__banner">
                   <!--BEGIN - Banner text-->
                    <div class="history__text">
                      <!--BEGIN - Year block -->
                       <div class="history__year">
                            <div class="history__text_year history__text_year_top"><span>Наша история
                                <br />берет свое начало</span></div>
                            <div class="history__figure">1889</div>
                            <div class="history__text_year history__text_year_bottom"><span>года</span></div>
                        </div>
                        <!--END - Year block -->
                        <!--BEGIN - Text block -->
                        <div class="history__text_small">когда был заложен первый винный подвал.</div>
                        <p class="history__text_large">X-VII век до нашей эры - Тавры - первый исторический народ Крыма, начали заниматься на территории Балаклавы виноградарством.</p>
                        <!--END - Text block -->
                    </div>
                    <!--END - Banner text-->
                </div>
                <!--END - Banner-->
        </div>
</section>