<section class="map">
   <!--BEGIN - Map controls-->
   <div class="map__controls">
       <!--BEGIN - Map scale-->
        <div class="map__elem map__scale">
            <div class="map__zoom map__zoom-in">+</div>
            <div class="map__zoom map__zoom-out">-</div>
        </div>
        <!--END - Map scale-->
        <!--BEGIN - On map-->
        <div class="map__elem map__on-map">
            <span class="map__icon_on-map">{{mixins.icon('marker')}}</span>
            <span class="map__text_on-map">На карте</span>
        </div>
        <!--END - On map-->
        <!--BEGIN - Map list-->
        <div class="map__elem map__list">
            <span class="map__icon_list">{{mixins.icon('list')}}</span>
            <span class="map__text_list">Списком</span>
        </div>
        <!--END - Map list-->
        <!--BEGIN - Map region-->
        <div class="map__elem map__region">
            <span class="map__text_region">Москва и Московская область</span>
        </div>
        <!--END - Map region-->
    </div>
    <!--END - Map controls-->
    
    <!--BEGIN - Map canvas-->
    <div id="map" class="map__canvas">
        
    </div>
    <!--END - Map canvas-->
</section>