<section class="map">
   <div class="controls">
        <div class="controls__scale">
            <div class="controls__scale-plus">+</div>
            <div class="controls__scale-minus">-</div>
        </div>
        <div class="controls__on-map"><span class="controls__icon-svg">{{mixins.icon('marker')}}</span><span class="controls__text">На карте</span></div>
        <div class="controls__list"><span class="controls__icon-svg">{{mixins.icon('list')}}</span><span class="controls__text">Списком</span></div>
        <div class="controls__region"><span class="controls__text">Москва и Московская область</span></div>
    </div>
    <div id="map" class="map-canvas">
        
    </div>
</section>