<section class="navigation">
    <nav class="navigation__nav-top">
        <ul class="navigation__menu">
            <li class="navigation__menu-item">
                <a href="#" class="navigation__menu-item__link">
                    <span class="navigation__menu-item__text">О компании</span>
                </a>
            </li>
            <li class="navigation__menu-item"><a href="#" class="navigation__menu-item__link"><span class="navigation__menu-item__text">Балаклава</span></a></li>
            <li class="navigation__menu-item"><a href="#" class="navigation__menu-item__link"><span class="navigation__menu-item__text">Мероприятия</span></a></li>
            <li class="navigation__menu-item"><a href="#" class="navigation__menu-item__link"><span class="navigation__menu-item__text">Каталог вин</span></a></li>
            <li class="navigation__menu-item"><a href="#" class="navigation__menu-item__link"><span class="navigation__menu-item__text">Контакты</span></a></li>
        </ul>
    </nav>
</section>