<nav class="navigation">
        <ul class="navigation__menu">
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    <span class="navigation__text">О компании</span>
                </a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    <span class="navigation__text">Балаклава</span>
                </a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    <span class="navigation__text">Мероприятия</span>
                </a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    <span class="navigation__text">Каталог вин</span>
                </a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    <span class="navigation__text">Контакты</span>
                </a>
            </li>
        </ul>
</nav>