<section class="navigation">
    <nav class="nav">
        <ul class="nav__menu">
            <li class="nav__menu-item">
                <a href="#" class="nav__menu-item__link">
                    <span class="nav__menu-item__content">О компании</span>
                </a>
            </li>
            <li class="nav__menu-item"><a href="#" class="nav__menu-item__link"><span class="nav__menu-item__content">Балаклава</span></a></li>
            <li class="nav__menu-item"><a href="#" class="nav__menu-item__link"><span class="nav__menu-item__content">Мероприятия</span></a></li>
            <li class="nav__menu-item"><a href="#" class="nav__menu-item__link"><span class="nav__menu-item__content">Каталог вин</span></a></li>
            <li class="nav__menu-item"><a href="#" class="nav__menu-item__link"><span class="nav__menu-item__content">Контакты</span></a></li>
        </ul>
    </nav>
</section>