{% import "data/products.html" as products %}
<section class="products">
    <!--BEGIN - Frame block-->
    <div class="frame-block products__frame-block">
      <!--BEGIN - Products container-->
       <div class="products__container">
         <!--BEGIN - Products question-->
          <h1 class="products__question">Какой сорт вина вы предпочитаете?</h1>
          <!--END - Products question-->
          <!--BEGIN - Products view-->
          <div class="products__view">
            <!--BEGIN - Products menu-->
            <ul class="products__menu">
                    <li class="products__tab" data-sort="brut">Брют</li>
                    <li class="products__tab" data-sort="semi-brut">Полусухое</li>
                    <li class="products__tab" data-sort="semi-sweet">Полусладкое</li>
                    <li class="products__tab" data-sort="sparkling">Игристое</li>
            </ul>
            <!--END - Products menu-->
            <!--BEGIN - Products block-->
            <div class="products__block">
            {% for product in products.wines %}
             <!--BEGIN - Products item-->
              <div class="products__item">
                   <!--BEGIN - Products image-->
                    <div class="products__img" data-img="{{product.image}}" data-sort="{{product.sort}}"></div>
                    <!--END - Products image-->
                    <!--BEGIN - Products pop-up-->
                    <div class="products__pop-up">
                        <div class="products__pop-up_inner">
                            <div class="products__info_pop-up">
                                <p class="products__brand_pop-up">Золотая балка</p>
                                <h2 class="products__heading_pop-up">{{product.title}}</h2>
                                <button class="btn products__btn_pop-up">Купить</button>
                            </div>
                        </div>
                    </div>
                    <!--END - Products pop-up-->
                </div>
                <!--END - Products item-->
                {% endfor %}
            </div>
            <!--END - Products block-->
            <!--BEGIN - Products button show-->
            <button class="btn products__btn_show">Показать еще 8 вин</button>
            <!--END - Products button show-->
            </div>
            <!--END - Products view-->
            <!--BEGIN - Products message-->
            <div class="products__message">
                <p class="products__text">Вы можете перейти непосредственно на страницу магазина, где уже более детального ознакомиться с описанием товара, условиями приобретения и доставки.</p>
                <!--BEGIN - Products button shop-->
                <button class="btn products__btn_shop">Перейти в интернет магазин</button>
                <!--BEGIN - Products button shop-->
            </div>
            <!--END - Products message-->
        </div>
        <!--END - Products container-->
    </div>
    <!--BEGIN - Frame block-->
</section>