.awards
    width: 100%
    padding: 40px 0
    background-color: $gold
    .awards__slider
        width: 100%
        margin: 10px 30px
        //display: inline-block
        overflow: hidden
        .awards__items
            width: 10000px
            .awards__item
                width: 159px
                height: 81px
                float: left
                padding: 10px
                .awards__link
                    font-family: $charter-bold
                    font-size: 14px
                    color: #fff
                    text-transform: uppercase
                    text-decoration: none
                    width: 90px
                    height: 80px
                    padding: 10px 0
                    display: inline-block
    .icon
        width: 14px
        height: 24px
        position: relative
        cursor: pointer
    .icon-arrow_left
        background-position: -25px -91px
        float: left
    .icon-arrow_right
        background-position: -49px -91px
        float: right
                    
        
        
        