.footer
    width: 100%
    .container
        width: 100%
        max-width: 1130px
        margin: 0 auto
        padding: 0 20px
    .col
        width: calc(50% - 20px + 15px)
        
    .footer__row-top
        background-color: $brown
        padding: 50px 0
        .logo
            display: block
            margin-bottom: 40px
        .content
            display: block
            width: 100%
            
    .footer__row-btm
        background-color: $dark-brown
        padding: 25px 0


//.footer
//    width: 100%
//    background-color: $brown
//    font-family: $charter-regular
//    font-size: em(18)
//    color: #fff
//    .footer__container
//        width: 100%
//        max-width: 1366px
//        margin: 0 auto
//        padding: 0 25px
//        .logo
//            padding-top: 55px
//            .logo__img
//                margin-left: -10px
//        .columns
//            display: flex
//            flex-wrap: wrap
//            .column
//                width: 50%
//                display: flex
//                justify-content: space-around
//                +md
//                    width: 100%
//                .address
//                    color: $gray
//                    +md
//                        width: 50%
//                .footer__nav
//                    .footer__menu
//                        .footer__menu-item
//                            padding-bottom: 15px
//                            .footer__menu-item__link
//                                font-family: $charter-bold
//                                color: #fff
//                                text-decoration: none
//                                &:hover
//                                    color: $gray
//                .contacts
//                    .contact
//                        margin-bottom: 25px
//                        .contact__department
//                            @extend .address
//                        .contact__info-mail
//                            display: inline-block
//                            padding-bottom: 1px
//                            border-bottom: 1px solid #fff
//    .footer__copyright
//        background-color: $dark-brown
//        font-size: em(12)
//        color: $gray
//        height: 60px
//        .footer__container
//            +clr
//            +vcenter
//            .column
//                .underlined
//                    padding-bottom: 1px
//                    border-bottom: 1px solid $gray
//                    