.footer
    width: 100%
    .underlined
            border-bottom: 1px solid $gray
            padding-bottom: 1px
            color: $gray
            text-decoration: none
            display: inline-block
            &:hover
                transition: 0.4s
                border-bottom-color: rgba(225,225,0,0)
            +r(400)
                border: none
    .footer__container
        width: 100%
        max-width: 1130px
        margin: 0 auto
        padding: 0 20px
        font-family: $charter-regular
        color: #fff
    .footer__col
        width: calc(50% - 20px + 15px)
        display: inline-block
        +md
            width: calc(100% - 20px + 15px)
            display: block
    .footer__row-top
        background-color: $brown
        padding: 50px 0
        .footer__logo
            margin-bottom: 40px
            display: block
        .footer__content
            width: 100%
            display: block
            +xs
                font-size: em(14)
            .footer__address
                color: $gray
            .footer__menu
                .footer__menu-item
                    padding-bottom: 20px
                    .footer__menu-item__link
                        font-family: $charter-bold
                        color: #fff
                        text-decoration: none
                        &:hover
                            transition: 0.4s
                            color: $gray
            .footer__contact
                .footer__contact-department
                    color: $gray
                .footer__contact-info
                    .underlined
                        color: #fff
            .footer__social
                .footer__social-icon
                    display: inline-block
                .footer__social-icon > *
                    width: 44px
                    height: 44px
                    fill: $gray
                    +xs
                        width: 35px
                        height: 35px
                    &:hover
                        transition: 0.4s
                        fill: #fff
            .footer__col-inner
                width: calc(50% - 20px + 15px)
                vertical-align: top
                display: inline-block
                +r(400)
                    width: 100%
                    display: block
                & > *
                    margin-bottom: 27px
                
            
    .footer__row-btm
        background-color: $dark-brown
        padding: 25px 0
        .footer__row-btm__text
            font-size: em(12)
            color: $gray
            +sm
                width: 100%
                margin-bottom: 15px
        .footer__row-inner
            +clr
            .footer__col-left
                width: calc(75% - 20px + 15px)
                float: left
                +sm
                    width: 100%
                .footer__col-left__text
                    vertical-align: top
                    display: inline-block
                    &:first-of-type
                        width: calc(75%/2.3 - 20px + 15px)
            .footer__col-right
                width: calc(25% - 20px + 15px)
                float: right
                +sm
                    width: 100%