.header
    width: 100%
    height: 100vh 
    padding: em(14)
    +cover
    .header__slider
        width: 100%
        height: 100%
        border: 1px solid $gold
        padding-top: 10%
        display: flex
        flex-direction: column
        .logo
            margin: auto
            .logo__img
                width: 250px
                +md
                    width: 230px
                +sm
                    width: 210px
                +xs
                    width: 180px
        .slider-content
            height: 115px
            margin: auto
            .titles
                .title
                    font-size: em(48)
                    color: #fff
                    text-align: center
                    +md
                        font-size: em(46)
                    +sm
                        font-size: em(42)
                    +xs
                        font-size: em(38)
            .dots
                position: static
                transform: none
                text-align: center
                margin-top: get-vw(50px)
        .scroll
            width: 100%
            margin: auto
            color: #fff
            .scroll__content
                text-align: center
                .scroll__text
                    display: inline-block
                    overflow: hidden
                    font-size: em(14)
                .scroll__icon
                    display: inline-block
                    padding: 0 10px
                    .icon-mouse
                        +s(mouse)
                    
            