.header
    width: 100%
    height: 100vh
    min-height: 800px
    padding: em(14)
    +cover 
    .header__slider
        width: 100%
        height: 100%
        border: 1px solid $gold
        display: flex
        flex-direction: column
        position: relative
        .logo
            position: absolute
            bottom: 400px
            left: 50%
            transform: translate(-50%)
            .logo__img
                width: 250px
                +md
                    width: 230px
                +sm
                    width: 210px
                +xs
                    width: 180px
        .titles
            width: 100%
            position: absolute
            bottom: 190px
            .title
                font-size: em(48)
                color: #fff
                text-align: center
                +md
                    font-size: em(46)
                +sm
                    font-size: em(42)
                +xs
                    font-size: em(38)
        .dots
            text-align: center
            bottom: 125px
        .scroll
            width: 100%
            color: #fff
            position: absolute
            bottom: 40px
            .scroll__content
                text-align: center
                .scroll__text
                    display: inline-block
                    overflow: hidden
                    font-size: em(14)
                .scroll__icon
                    display: inline-block
                    padding: 0 10px
                    .icon-mouse
                        +s(mouse)
                    
            