.map
    position: relative
    .map-canvas
        width: 100%
        height: 590px
        position: relative
        z-index: 1
    .controls
        width: 100%
        max-width: 1074px
        height: 45px
        position: absolute
        top: 50px
        left: 50%
        right: 50%
        transform: translate(-50%, -50%)
        z-index: 999
        background-color: transparent
        +clr
        .controls__scale
            background-color: transparent
            max-width: 20px
            margin-right: 8px
            .controls__scale-plus
                margin-bottom: 5px
        .controls__scale > *
            background-color: $gold
            width: 20px
            height: 20px
            cursor: pointer
        .controls__on-map
            max-width: 175px
            position: relative
            +r(1075)
                max-width: 125px
            +r(930)
                max-width: 100px
            +r(777)
                display: none
            .controls__text
                +vertical
                font-size: 1em
                overflow: hidden
            .controls__icon-svg
                +vertical
                font-size: 1.3em
                .icon-marker
                    vertical-align: middle
                    fill: #fff
        .controls__list
            max-width: 530px
            background-color: #fff
            text-align: left
            cursor: pointer
            +r(1075)
                max-width: 480px
            +r(930)
                max-width: 380px
            +r(777)
                display: none
            .controls__text
                +vertical
                font-size: 1em
                color: $gold
            .controls__icon-svg
                +vertical
                font-size: 1.3em
                padding-left: 42px
                .icon-list
                    vertical-align: middle
                    fill: $gold
            .list
                width: 100%
                background-color: #fff
                color: $gold
                padding-left: 42px
                .list__item
                    +vertical
                    text-align: left
                    font-size: 1em
                    height: 45px
        .controls__region
            max-width: 330px
            +r(1075)
                max-width: 280px
            +r(930)
                max-width: 250px
            +r(301)
                max-width: 220px
            .controls__text
                +vertical
                font-size: 1em
    .controls > * 
        float: left
        width: 100%
        height: 100%
        background-color: $gold
        font-family: $ptsans-narrow-bold
        color: #fff
        text-align: center
        text-transform: uppercase
            
            
        