{% set 
comments_slider = [
	{
		text: 'Продегустировав однажды игристые вина, приготовленные в Золотой Балке, вы уже не забудете их свежие и нежные тона луговых цветов. На протяжении многих лет высокое качество игристых вин, произведённых в Золотой Балке, отмечали многочисленные дегустационные комиссии и эксперты.',
		name: 'Джори Фостер',
		position: 'Телезвезда',
		signature: 'signature_first'
	},
	{
		text: 'Продегустировав однажды игристые вина, приготовленные в Золотой Балке, вы уже не забудете их свежие и нежные тона луговых цветов. На протяжении многих лет высокое качество игристых вин, произведённых в Золотой Балке, отмечали многочисленные дегустационные комиссии и эксперты.',
		name: 'Джори Фостер',
		position: 'Телезвезда',
		signature: 'signature_second'
	},
	{
		text: 'Продегустировав однажды игристые вина, приготовленные в Золотой Балке, вы уже не забудете их свежие и нежные тона луговых цветов. На протяжении многих лет высокое качество игристых вин, произведённых в Золотой Балке, отмечали многочисленные дегустационные комиссии и эксперты.',
		name: 'Джори Фостер',
		position: 'Телезвезда',
		signature: 'signature_third'
	}
] 
%}