{% set 
wines = [
	{
		image: 'bianco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-sweet'
	},
	{
		image: 'secco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'brut'
	},
	{
		image: 'rosso.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-brut'
	},
	{
		image: 'rosato.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'sparkling'
	},
	{
		image: 'bianco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-sweet'
	},
	{
		image: 'secco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'brut'
	},
	{
		image: 'rosso.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-brut'
	},
	{
		image: 'rosato.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'sparkling'
	},
	{
		image: 'bianco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-sweet'
	},
	{
		image: 'secco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'brut'
	},
	{
		image: 'rosso.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-brut'
	},
	{
		image: 'rosato.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'sparkling'
	},
	{
		image: 'bianco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-sweet'
	},
	{
		image: 'secco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'brut'
	},
	{
		image: 'rosso.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-brut'
	},
	{
		image: 'rosato.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'sparkling'
	},
	{
		image: 'bianco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-sweet'
	},
	{
		image: 'secco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'brut'
	},
	{
		image: 'rosso.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-brut'
	},
	{
		image: 'rosato.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'sparkling'
	},
	{
		image: 'bianco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-sweet'
	},
	{
		image: 'secco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'brut'
	},
	{
		image: 'rosso.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-brut'
	},
	{
		image: 'rosato.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'sparkling'
	},
	{
		image: 'bianco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-sweet'
	},
	{
		image: 'secco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'brut'
	},
	{
		image: 'rosso.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-brut'
	},
	{
		image: 'rosato.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'sparkling'
	},
	{
		image: 'bianco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-sweet'
	},
	{
		image: 'secco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'brut'
	},
	{
		image: 'rosso.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-brut'
	},
	{
		image: 'rosato.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'sparkling'
	},
	{
		image: 'bianco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-sweet'
	},
	{
		image: 'secco.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'brut'
	},
	{
		image: 'rosso.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'semi-brut'
	},
	{
		image: 'rosato.jpg',
		title: 'Вино игристое жемчужное полусладкое белое',
		sort: 'sparkling'
	}
] 
%}